

<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_wide">
			<br>
								<h1>
                Yo Thailand, What're you up to?
                </h1>
								<p class="description"></p>

		</div>
	</div>
	<br><br>
	<div class="wrapper_skinny">
		<div class="cf">
			<%= link_to "New Post", new_thaipost_path, class: "button button_highlight" %>

		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @thaiposts.each do |thaipost| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<%= link_to image_tag(thaipost.photo.url(:medium)), thaipost %>

						</div>
						<div class="episode_overview">
							<h2><%= link_to thaipost.title, thaipost %>, Comment : <%= thaipost.thaicomments.count %></h2>
							<p class="description"><%= truncate(thaipost.content, length: 300) %></p>
							<p class="description">Written By <%= link_to thaipost.student.email, thaipost.student %>, <%= time_ago_in_words(thaipost.created_at)  %> ago, <%= thaipost.thaicomments.count %> comments </p>




						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper_short">

<h4>Search for Title</h4>

<%= form_tag('/thaiposts', method: :get) do %>
  <p>
    <%= text_field_tag :search, nil, placeholder: "Search" %>
    <br><br>
    <p><%= submit_tag("Search") %> </p>
  </p>
<% end %>
</div>

<div class="comment">
	<div id="edit_button">
	</div>
</div>
<%= will_paginate @thaiposts, previous_label: "Previous", next_label: "Next" %>
