

<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_wide">
			<br>
								<h1>
                Yo Japan, What're you up to?
                </h1>
								<p class="description"></p>

		</div>
	</div>
	<br><br>
	<div class="wrapper_skinny">
		<div class="cf">
			<%= link_to "New Post", new_vietpost_path, class: "button button_highlight" %>

		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @vietposts.each do |vietpost| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<%= link_to image_tag(vietpost.photo.url(:medium)), vietpost %>

						</div>
						<div class="episode_overview">
							<h2><%= link_to vietpost.title, vietpost %>, Comment : <%= vietpost.vietcomments.count %></h2>
							<p class="description"><%= truncate(vietpost.content, length: 300) %></p>
							<p class="description">Written By <%= link_to vietpost.student.email, vietpost.student %>, <%= time_ago_in_words(vietpost.created_at)  %> ago, <%= vietpost.vietcomments.count %> comments </p>




						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="comment">
	<div id="edit_button">
	</div>
</div>
<%= will_paginate @vietposts, previous_label: "Previous", next_label: "Next" %>
