<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>Hope to see you in person!</h1>
    </div>
  </div>
</div>

<div id = "form">
  <div class="wrapper_skinny">

            <h2>Edit <%= resource_name.to_s.humanize %></h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true %>
              </div>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email %>
              </div>



              <div class="field">
                <%= f.label :school %><br />
                <%= f.text_field :school %>
              </div>

              <div class="field">
                <%= f.label :major %><br />
                <%= f.text_field :major %>
              </div>
              <div class="field">
                <%= f.label :work %> - If you are employed. Good for you!! So Jealous!!<br />
                <%= f.text_field :work %>
              </div>

              <div class="field">
                <%= f.label "City you are now staying" %><br />
                <%= f.text_field :city %>
              </div>

              <div class="field">
                <%= f.label "Country you are from" %><br />
                <%= f.text_field :nationality %>
              </div>


              <div class="field">
                <%= f.label "Self Introduction(Languages you speak and where you are from)" %><br />
                <%= f.text_area :introduction  %>
              </div>

              <br><br><br>
              <h3>PHOTO</h3>

              <div class="field">
                <%= f.label "Your Profile Photo" %><br />
                <%= f.file_field :photo  %>
              </div>


              <br><br>
              <br><br>

              <!-- <h3>Topics you can help</h3>
              <h3>
                <%= f.association :missions, :label => false, as: :check_boxes, collection: Mission.all, :label_method => lambda { |mission| "#{mission.title}<br><br>".html_safe }, value_method: :id %>
              </h3> -->



              <br><br>





              <h2>

              <div class="field">
                <%= f.label "**" %>Compensation you WANT per hour
              <br><br>
                $<%= f.select :pay, [["10", "10"], ["15", "15"], ["20", "20"]], :include_blank => true %> <br><br>

                <!-- OR Other Gift<br><br>
                example: A cup of Coffee, Lunch, A Gift from your culture  </h2>
              <%= f.input :gift, label: "Write Freely" %>  <br><br>
 -->

              </div>




              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>



              <br><br><br><br>

              <h3>Change Password<i>(leave blank if you don't want to change it)</i></h3>
              <div class="field">
                <%= f.label :password %> <br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
              </div>
              <br><br>  <br><br><br><br>



            <h2>PUT CURRENT PASSWORD BEFORE UPDATE</h2>


              <div class="field">
                <%= f.label "CURRENT PASSWORD" %> 現在のパスワード.<i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>
              <div class="actions">
                <%= f.submit "UPDATE", class: "button button_highlight button_block"%>
              </div>
            <% end %>
            <br><br>  <br><br>
            <br><br>  <br><br>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>

  </div>
</div>
