<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>Sign up, and Update your Profile!</h1>
    </div>
  </div>
<div id = "form">
  <div class="wrapper_skinny">


        <h3>Yo, Thanks for signing up. <br> Hope this website helps you in making new friends.</h3>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
          <%= f.label "School" %> Email (It can be anything, but .edu or .ac is preferred for the purpose of this site, lol)
            <br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :name %> - What your mom calls u :)<br />
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %> - yah, it bothers me too. <br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :city %> - where you are now staying (I mean like where u live)<br />
            <%= f.text_field :city %>
          </div>

          <br><br><br>

          <h2>Upload Profile :)</h2>
          <div class="field">
            <%= f.label :photo %><br />
            <%= f.file_field :photo, class: "button"  %>
          </div>


          <br><br>


            <!-- Missions you can complete. -->

                <!-- Spending 1 hour around town together, Campus Tour -->

                <br><br>


            <h2>
              Make Money by consulting people on following Topics!! <br>
              Sell your spare hour and knowledge!!


            </h2>

            <h3>
              <!-- <ul>
                <li>How you got accepted to your university, or give Campus Tour</li><br>
                <li>Planning their trip in your city <br>(where to eat, where to shop,
                  search through internet together)</li><br>
                <li>Go shopping together as translator</li>
              </ul> -->



              <%= f.association :missions, :label => false, as: :check_boxes, collection: Mission.all, :label_method => lambda { |mission| "#{mission.title}<br><br>".html_safe } %>


            </h3>

            <br><br>





            <h2>

            <div class="field">
              <%= f.label "**" %>Compensation you WANT per hour
          <br><br>
              $<%= f.select :pay, [["10", "10"], ["15", "15"], ["20", "20"]], :include_blank => true %> <br><br>

              OR Other Gift<br><br>
              example: A cup of Coffee, Lunch, A Gift from your culture  </h2>
          <%= f.input :gift, label: "Write Freely" %>  <br><br>


            </div>












            <h3>By Signing up, your email and info will be shared in Search Page.</h3>


          <div class="actions">
            <%= f.submit "Sign Up and Say Hi!", class: "button button_highlight button_block"%>
          </div>
          <br /><br />
        <% end %>

        <%= render "devise/shared/links" %>






          <br>
          <br>
          <br>




  </div>
</div>
