
<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_wide">
        <h1>Ask local students before exploring  <br>their city and school. <br>
                      Their Email address is in the profile.</h1>

		</div>
	</div>
</div>








<div class="wrapper_skinny">



<h1> Search </h1><h4>Type School or City </h4>

<%= form_tag('/students', method: :get) do %>
  <p>
    <%= text_field_tag :search, nil, placeholder: "Search" %>
    <br><br>
    <p><%= submit_tag("Search") %></p>

  </p>
<% end %>
</div>
</br>
</br>
<div id="podcasts" class="cf">
  <div class="wrapper_wide">
    <ul class="cf">
      <% @students.each do |student| %>
        <%= link_to student do %>
          <li>
						<% if student.photo.present? %>
              <%= image_tag student.photo.url(:medium) %>


            <% end %>






            <div class="podcast_overview">
							<h2><%= birdtype_display(student.birdtype) %></h2>
              <h2><%= student.name %></h2>
              <h2><%= truncate(student.school, length: 20) %></h2>
              <h2>Now in : <%= student.city %></h2>





            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
	<div class="wrapper_skinny">
		<h4>
			Egg : Posts > 2 	<br><br>
		 Pigeon : Posts > 10, 	<br><br>
		 Eagle : Posts > 20,<br>

			<br>	Condor : Post > 50, 	<br><br>
			Alabatross : Post > 100<br>

		</h4>

	</div>



</div>

<%= will_paginate @students, previous_label: "Previous", next_label: "Next" %>
