<div id="banner" class="podcasts_banner">

</div>



<div class="cf">
  <div class="wrapper">

  	<div id="student_content" class = "cf">

  			<h2 class = "title"><%= @student.name %></h2>
        <p>Email : <%= @student.email %></p>
  			<strong><%= birdtype_display(@student.birdtype) %></strong>
  	    <p class = "date">School : <%= @student.school %></p>
  			<p class = "date">Major : <%= @student.major %></p>
  			<p class = "date">Now in : <%= @student.city %></p>
    		<p>Self Intro <br><%= markdownify @student.introduction %></p>

  	</div>
  	<div id="student_photo">
      <div><%= image_tag @student.photo.url(:medium) %></div>
  	</div>
    <div class="comment cf">
      <div class="content">
        <p class="comment_content">
          <%= markdownify studentcomment.comment %>
        </p>
        <p class="comment_author">
          <%= link_to studentcomment.student.email, studentcomment.student %>
        </p>
      </div>
      <div id="edit_button">
        <% if current_student && studentcomment.student == current_student %>

          <%= link_to "Edit", edit_student_studentcomment_path(studentcomment.student, studentcomment) %>
          <%= link_to "Delete", [studentcomment.student, studentcomment], method: :delete, data: { confirm: "Are you sure?" } %>


        <% end %>

      </div>
    </div>







  </div>
</div>
