<div id="banner" class="podcasts_banner">

</div>



<div class="cf">
  <div class="wrapper">

  	<div id="student_content" class = "cf">

  			<h2 class = "title"><%= @student.name %></h2>
        <p>Email : <%= @student.email %></p>
  			<strong><%= birdtype_display(@student.birdtype) %></strong>
  	    <p class = "date">School : <%= @student.school %></p>
  			<p class = "date">Major : <%= @student.major %>, Work : <%= @student.work %></p>
  			<p class = "date">Now in : <%= @student.city %></p>

        <p class = "date">For revising your essay and application </p>
        <h2>
          <strong>

            $<%= @student.pay %> per hour

          </strong>
        </h2>
        <p class = "date">I can also help you with these topics</p>
        <ul class = "date">
          <li>How I got accepted to my university, or give Campus Tour</li><br>
          <li>Planning your school life<br>(where to eat, where to shop,
            search through internet together)</li><br>
          <!-- <li>Go shopping together as translator</li> -->
        </ul>



    		<p>　<strong>SELF INTRODUCTION</strong> <br><%= markdownify @student.introduction %></p>

  	</div>
  	<div id="student_photo_comment">
      <div><%= image_tag @student.photo.url(:medium) %></div>
  	</div>
    <br><br>
  </div>
</div>






<div class="wrapper">
    <div id="post_content">
      <div id="comments" class = "cf">
      <h2>
        <%= @student.studentcomments.count %>
        Reviews
      </h2>
          <%= render @student.studentcomments %>
          <%= render "studentcomments/form" %>
      </div>
    </div>
</div>
