<div id="banner" class="podcasts_banner">

</div>



<div class="cf">
  <div class="wrapper">

  	<div id="student_content" class = "cf">

  			<h2 class = "title"><%= @student.name %></h2>
        <p>Email : <%= @student.email %></p>
  			<strong><%= birdtype_display(@student.birdtype) %></strong>
  	    <p class = "date">School : <%= @student.school %></p>
  			<p class = "date">Major : <%= @student.major %></p>
  			<p class = "date">Now in : <%= @student.city %></p>
    		<p>Self Intro <br><%= markdownify @student.introduction %></p>

  	</div>
  	<div id="student_photo">
      <div><%= image_tag @student.photo.url(:medium) %></div>
  	</div>

    <div id="post_content">



      <div id="comments" class = "cf">
      <h2>
        <%= @student.studentcomments.count %>
        Comments
      </h2>
          <%= render @student.studentcomments %>
          <h3>Reply to thread</h3>
          <%= render "studentcomments/form" %>
    </div>










  </div>
</div>
