<div id="banner" class="podcasts_banner">

</div>



<div class="cf">
  <div class="wrapper">

  	<div id="student_content" class = "cf">

  			<h2 class = "title"><%= @student.name %></h2>
        <p>Email : <%= @student.email %></p>
  			<strong><%= birdtype_display(@student.birdtype) %></strong>
  	    <p class = "date">School : <%= @student.school %></p>
  			<p class = "date">Major : <%= @student.major %>, Work : <%= @student.work %></p>
  			<p class = "date">Now in : <%= @student.city %></p>


        <p class = "date">I can help you with these topics</p>
        <ul class = "date">
          <li>How you got accepted to your university, or give Campus Tour</li><br>
          <li>Planning their trip in your city <br>(where to eat, where to shop,
            search through internet together)</li><br>
          <li>Go shopping together as translator</li>
        </ul>

        <p class = "date">$<%= @student.pay %> per hour</p>

        <p class = "date">OR <%= @student.gift %>, and etc</p>





    		<p>Self Intro <br><%= markdownify @student.introduction %></p>

  	</div>


  	<div id="student_photo">
      <div><%= image_tag @student.photo.url(:medium) %></div>
  	</div>
    <br><br>



  </div>
</div>

<div class="wrapper_skinny">


    <div id="post_content">
      <div id="comments" class = "cf">
      <h2>
        <%= @student.studentcomments.count %>
        Comments
      </h2>
          <%= render @student.studentcomments %>
          <%= render "studentcomments/form" %>
      </div>
    </div>
</div>
