<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>Share What's Happening!!</h1>
    </div>
  </div>
</div>



<div class="wrapper">
  <div id="post_content">

    <h1>
      Title: <%= @southpost.title %>
    </h1>
    <%= image_tag @southpost.photo.url(:medium) %>

    <p>
      <%= markdownify @southpost.content %>
    </p>
    <div id="comments">
    <h2>
      <%= @southpost.southcomments.count %>
      Comments
    </h2>
        <%= render @southpost.southcomments %>
        <h3>Reply to thread</h3>
        <%= render "southcomments/form" %>
    </div>


    <br/>
    <hr/>
    <br/>
    <%= link_to "Back", southposts_path, class: "button" %>
    <%= link_to "New Post", new_southpost_path, class: "button button_highlight" %>

    <% if current_student && @southpost.student == current_student %>
      <%= link_to "Delete Post", southpost_path(@southpost), method: :delete, data: { confirm: "Are you sure you want to do this?" }, class: "button" %>

      <%= link_to "Edit Post", edit_southpost_path(@southpost), class: "button" %>

    <% end %>


  </div>


</div>
