

<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_wide">
			<br>
								<h1>
									Yo, What're you up to?  - Othercities

                </h1>
								<p class="description"></p>

		</div>
	</div>
	<br><br>
	<div class="wrapper_skinny">
		<div class="cf">
			<%= link_to "New Post", new_otherpost_path, class: "button button_highlight" %>

		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @otherposts.each do |otherpost| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<%= link_to image_tag(otherpost.photo.url(:medium)), otherpost %>

						</div>
						<div class="episode_overview">
							<h2><%= link_to otherpost.title, otherpost %></h2>
							<p class="description"><%= truncate(otherpost.content, length: 300) %></p>
							<p class="description">Written By <%= link_to otherpost.student.email, otherpost.student %>, <%= time_ago_in_words(otherpost.created_at)  %> ago, <%= otherpost.othercomments.count %> comments </p>



						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper_short">

<h4>Search for Title</h4>

<%= form_tag('/otherposts', method: :get) do %>
  <p>
    <%= text_field_tag :search, nil, placeholder: "Search" %>
    <br><br>
		<p><%= submit_tag("Search", class: "button button_highlight") %></p>
  </p>
<% end %>
</div>
<div class="comment">
	<div id="edit_button">
	</div>
</div>
<%= will_paginate @otherposts, previous_label: "Previous", next_label: "Next" %>
