

<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_wide">
			<br>
								<h1>
                In Osaka forum, you can <br>
                1. Share what’s happening in your city and school! <br>
                2. or Just meet up with other students by sharing your schedule!
                </h1>
								<p class="description"></p>

		</div>
	</div>
	<br><br>
	<div class="wrapper_skinny">
		<div class="cf">
			<%= link_to "New Post", new_osakapost_path, class: "button button_highlight" %>

		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @osakaposts.each do |osakapost| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<%= link_to image_tag(osakapost.photo.url(:medium)), osakapost %>

						</div>
						<div class="episode_overview">
							<h2><%= link_to osakapost.title, osakapost %></h2>
							<p class="description"><%= truncate(osakapost.content, length: 300) %></p>
							<p class="description">Written By <%= link_to osakapost.student.email, osakapost.student %>, <%= time_ago_in_words(osakapost.created_at)  %> ago, <%= osakapost.osakacomments.count %> comments </p>



						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div class="comment">
	<div id="edit_button">
	</div>
</div>
<%= will_paginate @osakaposts, previous_label: "Previous", next_label: "Next" %>
