<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>Share What's Happening!!</h1>
    </div>
  </div>
</div>



<div class="wrapper">
  <div id="post_content">

    <h1>
      Title: <%= @eastpost.title %>
    </h1>
    <%= image_tag @eastpost.photo.url(:medium) %>
<h5>
  Author: <%= link_to @eastpost.student.email, @eastpost.student %>
</h5>

 <p>
      <%= markdownify @eastpost.content %>
    </p>
    <div id="comments">
    <h2>
      <%= @eastpost.eastcomments.count %>
      Comments
    </h2>
        <%= render @eastpost.eastcomments %>
        <h3>Reply to thread</h3>
        <%= render "eastcomments/form" %>
    </div>


    <br/>
    <hr/>
    <br/>
    <%= link_to "Back", eastposts_path, class: "button" %>
    <%= link_to "New Post", new_eastpost_path, class: "button button_highlight" %>

    <% if current_student && @eastpost.student == current_student %>
      <%= link_to "Delete Post", eastpost_path(@eastpost), method: :delete, data: { confirm: "Are you sure you want to do this?" }, class: "button" %>

      <%= link_to "Edit Post", edit_eastpost_path(@eastpost), class: "button" %>

    <% end %>


    </div>


</div>
