<%= simple_form_for([@student, @student.studentcomments.build]) do |f| %>
  <%= f.input :comment, lable: 'Reviews' %>
  <div class="field">
    <%= f.label "Upload Photo" %><br>
    <%= f.file_field :photo, class: "button button_highlight button_block" %>
  </div>
  <%= f.submit "Create Comment", class: "button button_highlight button_block" %>
<% end %>
