<div class="wrapper">

  <h1>Edit Reply</h1>
  <%= simple_form_for([@student, @studentcomment]) do |f| %>

    <%= f.input :comment, label: 'Review' %>
    <br><br>

    <div class="field">
      <%= f.label "Upload Photo" %><br>
      <%= f.file_field :photo %>
    </div>



    <%= f.submit "Update Comment",  class: "button button_highlight button_block" %>
  <% end %>

</div>
