<!-- <br>
<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_wide">
        <h1>
							Share what's happening in city forums!
										</h1>

		</div>
	</div>
</div> -->
<header id="main_footer" class="cf">
	<div class="wrapper_wide">

		<nav>
			<ul>

          <li>Forums : </li>

					<!-- <li><%= link_to "Beppu/Oita", "/beppuposts/" %></li> -->

					<!-- <li><%= link_to "Fukuoka", "/fukuokaposts/" %></li> -->

          <!-- <li><%= link_to "Osaka", "/osakaposts/" %></li> -->


					<li><%= link_to "Japan", "/tokyoposts/" %></li>



					<li><%= link_to "Korea", "/eastposts/" %></li>


					<li><%= link_to "Thailand", "/southposts/" %></li>


					<li><%= link_to "China", "/chinaposts/" %></li>

					<li><%= link_to "Indonesia", "/thaiposts/" %></li>
					<li><%= link_to "Vietnam", "/vietposts/" %></li>


					<li><%= link_to "OtherCities", "/otherposts/" %></li>



			</ul>
		</nav>
	</div>
</header>
